# Api config
PORT=8000

JWT_SECRET=xxxxx
JWT_EXPIRES_IN_MS=432000000

# Mongo config local
MONGO_URI="mongodb://{username}:{pass}@{host}:{port}/{db}?authSource=admin"

# Mongo config online
MONGO_URI="mongodb+srv://{username}:{pass}@{host}/?retryWrites=true&w=majority&appName=SophenIA"

# Third party services
OPEN_AI_API_KEY=xxxxxx

EMAIL_SENDER='"SophenIA" <api.sophenia@gmail.com>'
GMAIL_USER="api.sophenia@gmail.com"
GMAIL_PASS="xxxxxxxxxxx"