<html>
  <head>
    <title>SophenIA</title>
  </head>
  <body>
    <center>
      <div style='width: 578px'>
        <div style='padding: 20px 0 10px 0;'>
          <!-- Email content -->

          <h1>Bienvenido a SophenIA</h1>
          <p>Hola
            {{email}}, usá esta contraseña temporal para acceder a tu cuenta.
            Recordá cambiarla desde tu perfil de usuario.</p>
          <p><strong>{{newPassword}}</strong></p>
          <p>Si tenes dudas acerca de como acceder a SophenIA, escribinos a
            <a
              href='mailto:api.sophenia@gmail.com'
            >api.sophenia@gmail.com</a></p>

          <!-- [end of]Email content -->
        </div>
      </div>
    </center>
  </body>
</html>